nav {
    width: 100%;
    margin-top: 2vh;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    font-family: calibri;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 10%;
    background-color: rgba(255, 255, 255,0.1);
    padding: 2%;
    margin-top: 1vh;
    margin-left: 1%;
    margin-right: 1%;
}

nav ul li a:hover {
    border: solid 0.15em rgb(175, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav-link-active{
    background-color: rgba(255, 50, 50,0.3);
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../resources/backgrounds/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#Planet-Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin-top: 45vh;
}

#Planet {
    border-radius: 100%;
    width: 100vw;
    height: 100vw;
    background-image: url('../resources/planets/planet1.png');
    background-repeat: no-repeat;
    background-size: cover;

}


@-webkit-keyframes rotating{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}
@keyframes rotating{
    from {
        transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
.rotating {
    -webkit-animation:rotating 500s linear infinite;
    -ms-animation:rotating 500s linear infinite;
    -moz-animation:rotating 500s linear infinite;
    -o-animation:rotating 500s linear infinite;
    animation:rotating 500s linear infinite;
}

.down{
    display: none;
}

.modal {
    display: none;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    padding-top: 90px;
}

.loginform {
    position: absolute;
    top: 15vh;
    left: 25vw;
    background-color: black;
    width: 50vw;
    height: 70vh;
    border-radius: 10%;
    border-style: solid;
    border-color: white;
    font-family: BarcadeBrawl;
    color: #fefefe;
    z-index: 1;
}
#login-form-title{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

#endgame-score{
    justify-content: center;
    position: absolute;
    height: 60vh;
    width: 40vw;
    background-color: rgba(10,10,10,0.99);
}

.sbmodal {
    display: none;
}

@font-face {
    font-family: "BarcadeBrawl";
    src: url("../resources/fonts/BarcadeBrawlRegular-plYD.ttf");
}

::-webkit-scrollbar {
    width: 3px;
    height: 10px;

}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;

background-color: grey;
outline: 1px solid slategrey;
border-radius: 1rem;
}


#scoreboard{
    /*display: none;*/
    position: absolute;
    top: 15vh;
    left: 25vw;
    background-color: black;
    width: 50vw;
    height: 70vh;
    border-radius: 10%;
    border-style: solid;
    border-color: white;
    font-family: BarcadeBrawl;
    color: #fefefe;
    z-index: 1;
    overflow-y: scroll;
}
@media (min-width: 750px) and (max-width: 1000px){
    #scoreboard{
        width: 70vw;
        left: 20vw;
    }
}
@media (min-width: 600px) and (max-width: 750px) {
    #scoreboard{
        width: 90vw;
        left: 5vw;
    }
}
@media (max-width: 600px) {
    #scoreboard{
        width: 100vw;
        left: 0vw;
    }
}

#sbtitle {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

#sb {
    display: grid;
    grid-template-columns: auto ;
}

#name {
    grid-column: 1;
    text-align: center;
    overflow: auto;
}

#score {
    grid-column: 2;
    text-align: center;
    overflow: auto;
}

#accuracy {
    grid-column: 3;
    text-align: center;
    overflow: auto;
}

#pname, #pscore, #paccuracy {
    margin-top: 2vh;
    list-style: none;
    text-align: left;
}

#endgame-title {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

#endgame-score{
    position: absolute;
    top: 15vh;
    left: 25vw;
    background-color: black;
    width: 50vw;
    height: 75vh;
    border-radius: 10%;
    border-style: solid;
    border-color: white;
    font-family: BarcadeBrawl;
    color: #fefefe;
    z-index: 1;
}

