body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1605/Blue_nebula_galaxy-Expanse_Space_HD_Wallpaper_1366x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Planet-Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin-top: 45vh;
}

#Planet {
    border-radius: 100%;
    width: 100vw;
    height: 100vw;
    background-image: url('../resources/homeplanets/planet_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}


@-webkit-keyframes rotating{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}
@keyframes rotating{
    from {
        transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
.rotating {
    -webkit-animation:rotating 500s linear infinite;
    -ms-animation:rotating 500s linear infinite;
    -moz-animation:rotating 500s linear infinite;
    -o-animation:rotating 500s linear infinite;
    animation:rotating 500s linear infinite;
}



